<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>We Keep Noticing, a sentiment analysis project</title>
      <!-- Google font -->
      <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
        <style>
          body {
                font-family: 'Acme';font-size: 22px;
               }
        </style>
  </head>



  <body>
    <h1>Two-week sprint and Agile methods</h1>

    <p>Timeline for an Agile Dev sprint for v.1 product</p>
      <div>
        <p>Working with all the great people at <a href="https://hackbrightacademy.com/">Hackbright Academy</a> to make it happen.</p>
        <img src = "/static/imgs/00_sprint_timeline.png" width="800">
      </div>

      <div>
        <p>Features and tech stack.</p>
        <img src = "/static/imgs/backend_flow02.png" width="800">
      </div>



  </body>
</html>