<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>We Keep Noticing, a sentiment analysis project</title>
      <!-- Google font -->
      <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
        <style>
          body {
                font-family: 'Acme';font-size: 22px;
               }
        </style>
  </head>



  <body>
    <h1>Relational Data Model</h1>

    <p>Here are the data tables and their relations.</p>
    <div>
    	<p>The earliest start on how to handle the datasets looked like this!</p>
    	<img src = "/static/imgs/00_first_diagram.png" width="800">
    </div>

    <div>
      <p>Then, it got a bit better. Still working on it – </p>
      <img src = "/static/imgs/data_model_v3.png" width="800">
    </div>



  </body>
</html>