<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>We Respond, sentiment analysis project</title>
  </head>
  <body>
    <p>We Keep Noticing holds the memories of times we've gone through together and how they have changed us.</p> 
    <p>The work started with interviews about pandemic life in 2020. Artists Janaki Ranpura and Katherine Wilkinson interviewed people from around the United States and collected their statements into an exhibit at ZAZ10TS gallery in Times Square, Manhattan, with the help of Limei Wang.</p> 

      <div>
        <img src = "/static/imgs/github_cover_img.png">
      </div>  

    <p>Those brief, heartfelt statements are the seeds of this internet collection. Here, Janaki is matching the statements with facts about the pandemic, showing the emotions in context.</p>

    <p>When we can feel together, we can act together. Let's do that: let's keep noticing.</p>

    <div>
      <a href = "zaz.html">About We Respond 2020</a>
    </div>


  </body>
</html>

