<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>We Keep Noticing, a sentiment analysis project</title>
      <!-- Google font -->
      <link href='https://fonts.googleapis.com/css?family=Carrois Gothic' rel='stylesheet'>
      <style>
        body {
              font-family: 'Carrois Gothic';
              font-size: 22px;
             }
      </style>
  </head>



  <body>

    <h2>Site index</h2>  

    <div>
      <a href = "zaz.html">1 -- About We Respond 2020</a>
    </div>

    <div>
      <a href = "lightning.html">2 -- Lightning Talk on emotional parsing</a>
    </div>

    <div>
        <a href = "agile_dev.html">3 -- Agile development, Sprint timeline</a>
    </div>

    <div>
        <a href = "data_model.html">4 -- Data Model for Sentiments and Covid data</a>
    </div>

    <div>
        <a href = "ui_wireframe.html">5 -- UI wireframe</a>
    </div>

    <div>
        <a href = "prog_diagram.html">6 -- *in process* a diagram of programming tools used</a>
    </div>



    <h1>About 'We Keep Noticing'</h1>

    <p>"We Keep Noticing" holds the memories of times we've gone through together and how they have changed us.</p> 
    <p>The work started with interviews about pandemic life in 2020. Artists Janaki Ranpura and Katherine Wilkinson interviewed people from around the United States and collected their statements into an exhibit at ZAZ10TS gallery in Times Square, Manhattan, with the help of Limei Wang.</p> 

      <div>
        <img src = "/static/imgs/github_cover_img.png" width="800">
      </div>  

    <p>Those brief, heartfelt statements are the seeds of this internet collection. Here, Janaki is matching the statements with facts about the pandemic, showing the emotions in context.</p>

    <p>When we can feel together, we can act together.</p> 
    <p>Let's do that: let's keep noticing.</p>

      <!-- sloppy formatting, for now! -->

      <p></p>
      <p></p>
      <p></p>

    <h1>Site index</h1>  

    <div>
      <a href = "zaz.html">1 -- About We Respond 2020</a>
    </div>

    <div>
      <a href = "lightning.html">2 -- Lightning Talk on emotional parsing</a>
    </div>

    <div>
        <a href = "agile_dev.html">3 -- Agile development, Sprint timeline</a>
    </div>

    <div>
        <a href = "data_model.html">4 -- Data Model for Sentiments and Covid data</a>
    </div>

    <div>
        <a href = "ui_wireframe.html">5 -- UI wireframe</a>
    </div>

    <div>
        <a href = "prog_diagram.html">6 -- *in process* a diagram of programming tools used</a>
    </div>


  </body>
</html>

