<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>We Keep Noticing, a sentiment analysis project</title>
      <!-- Google font -->
      <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
        <style>
          body {
                font-family: 'Acme';font-size: 22px;
               }
        </style>
  </head>



  <body>
    <h1>The exhibition that began the project, in Manhattan</h1>

    <p>See the gallery website for information about the 2020 version of the project.
    <a href = "https://www.zaz10ts.com/we-respond">ZAZ10TS, We Respond project</a></p>

      <!-- <img gallery>
      <img statements02> -->


  </body>
</html>